.main-title-home-3 p {
  font-family: var(--heading-font);
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  color: var(--deep-golden);
  position: relative;
  display: inline-block;
  text-transform: capitalize; }
  .main-title-home-3 p::after, .main-title-home-3 p::before {
    content: '';
    position: absolute;
    background: var(--deep-golden);
    height: 1px;
    width: 34px;
    top: 50%;
    bottom: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .main-title-home-3 p::before {
    left: -32px; }
  .main-title-home-3 p::after {
    right: -70px; }
  .main-title-home-3 p .home-3-title-shep-1 {
    width: 10px;
    height: 10px;
    background-color: var(--deep-golden);
    display: inline-block;
    position: absolute;
    left: -69%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    bottom: 50%;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
  .main-title-home-3 p .home-title-shep-2 {
    width: 10px;
    height: 10px;
    background-color: var(--deep-golden);
    display: inline-block;
    position: absolute;
    right: -70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    bottom: 50%;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }

.sub-title-home-3 {
  padding-top: 20px; }
  .sub-title-home-3 p {
    color: var(--normal-green);
    font-family: var(--heading-font-light);
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 57.6px;
    letter-spacing: -0.96px; }
    @media (max-width: 767px) {
      .sub-title-home-3 p {
        font-size: 30px;
        line-height: 42.6px; } }

select {
  padding: 16px 20px;
  width: 32.33%;
  border: 1px solid var(--foundation-green);
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: var(--normal-foundation-green);
  font-family: var(--body-font);
  background-image: url("../images/home-3-contact-bg/icon.svg");
  background-size: 20px;
  background-position: calc(100% - 1.3em) center;
  background-repeat: no-repeat; }
  select:focus {
    border: 1px solid var(--normal-foundation-green); }

select::-ms-expand {
  display: none; }

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none; }

.home-2-slider-progressbar > .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 0;
  margin-right: 0;
  width: 30px;
  border-radius: 0;
  height: 2px;
  position: relative;
  left: 0;
  top: -5px;
  background-color: var(--deep-white); }

.home-2-slider-progressbar > .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: var(--deep-golden); }

.home-2-slider-progressbar > span {
  color: var(--deep-white);
  margin: 0 10px; }

.home-2-slider-progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  right: 80px;
  bottom: 115px; }

.hero-home-2-slider-btn {
  position: absolute;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .hero-home-2-slider-btn .swiper-button-next1 {
    position: absolute;
    right: 80px;
    left: auto;
    z-index: 1;
    background-image: none; }
  .hero-home-2-slider-btn .swiper-button-prev1 {
    position: absolute;
    left: 80px;
    right: auto;
    z-index: 1;
    background-image: none; }

.swiper-button-prev1,
.swiper-button-next1 {
  width: 80px;
  height: 80px;
  border: 1px solid var(--normal-pink1);
  border-radius: 50%;
  line-height: 80px;
  text-align: center; }
  .swiper-button-prev1 span svg path,
  .swiper-button-next1 span svg path {
    fill: var(--normal-pink1); }

.home-2-title {
  text-align: center; }
  .home-2-title h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.8px;
    letter-spacing: -0.96px;
    color: var(--deep-golden);
    font-family: var(--heading-font); }

.home-2-sub-title {
  text-align: center;
  margin-top: 25px; }
  .home-2-sub-title p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    color: var(--deep-golden);
    font-family: var(--body-font); }

@media (max-width: 720px) {
  .home-2-sub-title p br {
    display: none; } }

.home-2-area-gap-top {
  padding-top: 110px; }

.home-2-area-gap-bottom {
  padding-bottom: 110px; }

.cursor {
  position: fixed;
  left: 0;
  pointer-events: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: var(--deep-white);
  background: var(--deep-golden);
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  mix-blend-mode: hard-light;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.cursor.large {
  width: 180px;
  height: 180px;
  text-align: center;
  font-size: 19px;
  font-weight: 400; }

.cursor1 {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid var(--foundation-green);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  z-index: 999;
  mix-blend-mode: difference; }

@media (max-width: 1200px) {
  .cursor1 {
    display: none; } }

.cursor1.hide {
  opacity: 0;
  visibility: hidden; }

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: var(--foundation-green);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
  mix-blend-mode: difference; }

@media (max-width: 1200px) {
  .cursor2 {
    display: none; } }

.cursor2.hide {
  opacity: 0;
  visibility: hidden; }

.cursor2.circle {
  width: 60px;
  height: 60px; }

.cursor-testi {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: var(--deep-golden);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 999; }

@media (max-width: 1200px) {
  .cursor-testi {
    display: none; } }

.cursor-testi.hide {
  opacity: 0;
  visibility: hidden; }

.cursor-testi.play {
  width: 100px;
  height: 100px;
  mix-blend-mode: unset;
  background-color: var(--black-2); }

.cursor-testi.play::after {
  position: absolute;
  content: "Play";
  color: var(--white);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#featured_cursor {
  background: var(--deep-white);
  color: var(--deep-golden); }

@media (max-width: 1200px) {
  #client_cursor {
    display: none; } }
